body {

}
.header {
    background-image: images/arkaplan1.jpeg;
    float: left;
}
navbar {
    float: left;
}
.logo img {
    height: 100px;
    width: auto;
}
.baslik {
    text-align: center;
}

